@tailwind base;
@tailwind components;
@tailwind utilities;


section
{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;   
}
/* #contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 95vh;
  } */